
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*百度富文本框*@
    <div class="form-group">
        <label>博客内容</label>
        <!-- 加载编辑器的容器 -->
        <textarea id="container" name="Blog_Context" type="text/plain">
                                这里写你的初始化内容
        </textarea>
        <!-- 配置文件 -->
        <script src="~/utf8-net/ueditor.config.js"></script>
        <!-- 编辑器源码文件 -->
        <script src="~/utf8-net/ueditor.all.js"></script>
        <!-- 实例化编辑器 -->
        <script type="text/javascript">
            var ue = UE.getEditor('container');
        </script>
        <span asp-validation-for="Blog_Context" class="text-danger"></span>
    </div>
</body>
</html>
