USE [CT]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[Admin_ID] [int] IDENTITY(1,1) NOT NULL,
	[Admin_Name] [nvarchar](50) NOT NULL,
	[Admin_Password] [char](20) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[Admin_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Border]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Border](
	[Border_ID] [int] IDENTITY(1,1) NOT NULL,
	[Type_ID] [int] NULL,
	[Border_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Border] PRIMARY KEY CLUSTERED 
(
	[Border_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Collection]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collection](
	[Collection_ID] [int] IDENTITY(1,1) NOT NULL,
	[UserInfo_ID] [int] NOT NULL,
	[Goods_ID] [int] NOT NULL,
 CONSTRAINT [PK_Collection] PRIMARY KEY CLUSTERED 
(
	[Collection_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GetGoods]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GetGoods](
	[GetGoods_ID] [int] IDENTITY(1,1) NOT NULL,
	[UserInfo_ID] [int] NOT NULL,
	[GetGoods_Name] [nvarchar](40) NOT NULL,
	[GetGoods_Address] [nvarchar](150) NOT NULL,
	[GetGoods_Telephone] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_GetGoods] PRIMARY KEY CLUSTERED 
(
	[GetGoods_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Goods]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[Goods_ID] [int] IDENTITY(1,1) NOT NULL,
	[Type_ID] [int] NOT NULL,
	[Border_ID] [int] NOT NULL,
	[Goods_Name] [nchar](40) NOT NULL,
	[Goods_Content] [nvarchar](max) NOT NULL,
	[Goods_Img] [nvarchar](200) NOT NULL,
	[Goods_Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Goods] PRIMARY KEY CLUSTERED 
(
	[Goods_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GoodsComment]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsComment](
	[GoodsComment_ID] [int] IDENTITY(1,1) NOT NULL,
	[Goods_ID] [int] NOT NULL,
	[UserInfo_ID] [int] NOT NULL,
	[GoodsComment_Content] [nvarchar](max) NOT NULL,
	[GoodsComment_Time] [datetime] NOT NULL,
 CONSTRAINT [PK_GoodsComment] PRIMARY KEY CLUSTERED 
(
	[GoodsComment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GoodsSave]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsSave](
	[GoodsSave_ID] [int] IDENTITY(1,1) NOT NULL,
	[Goods_ID] [int] NOT NULL,
	[GoodsSave_Num] [int] NOT NULL,
 CONSTRAINT [PK_GoodsSave] PRIMARY KEY CLUSTERED 
(
	[GoodsSave_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GoodsType]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GoodsType](
	[Type_ID] [int] IDENTITY(1,1) NOT NULL,
	[Type_Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[Type_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ICC]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ICC](
	[ICC_ID] [int] IDENTITY(1,1) NOT NULL,
	[ICC_Name] [nvarchar](40) NOT NULL,
	[InfoClass_ID] [int] NULL,
 CONSTRAINT [PK_ICC] PRIMARY KEY CLUSTERED 
(
	[ICC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Info]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Info](
	[Info_ID] [int] IDENTITY(1,1) NOT NULL,
	[Info_Title] [nchar](100) NOT NULL,
	[Info_Content] [nvarchar](max) NOT NULL,
	[Info_Img] [nvarchar](200) NOT NULL,
	[Info_Time] [datetime] NOT NULL,
	[InfoClass_ID] [int] NOT NULL,
	[ICC_ID] [int] NULL,
 CONSTRAINT [PK_Info] PRIMARY KEY CLUSTERED 
(
	[Info_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InfoClass]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoClass](
	[InfoClass_ID] [int] IDENTITY(1,1) NOT NULL,
	[Info_Class] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_InfoClasss] PRIMARY KEY CLUSTERED 
(
	[InfoClass_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InfoComment]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoComment](
	[IC_ID] [int] IDENTITY(1,1) NOT NULL,
	[Info_ID] [int] NOT NULL,
	[IC_Content] [nvarchar](max) NOT NULL,
	[IC_Time] [datetime] NOT NULL,
	[UserInfo_ID] [int] NOT NULL,
 CONSTRAINT [PK_InfoComment] PRIMARY KEY CLUSTERED 
(
	[IC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InfoCommentAgainst]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoCommentAgainst](
	[ICA_ID] [int] IDENTITY(1,1) NOT NULL,
	[Info_ID] [int] NOT NULL,
	[UserInfo_ID] [int] NOT NULL,
 CONSTRAINT [PK_InfoCommentAgainst] PRIMARY KEY CLUSTERED 
(
	[ICA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InfoCommentBack]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoCommentBack](
	[ICB_ID] [int] IDENTITY(1,1) NOT NULL,
	[ICB_Content] [nvarchar](max) NOT NULL,
	[ICB_Time] [datetime] NOT NULL,
	[UserInfo_ID] [int] NOT NULL,
	[IC_ID] [int] NULL,
 CONSTRAINT [PK_InfoCommentBack] PRIMARY KEY CLUSTERED 
(
	[ICB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InfoCommentSupport]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InfoCommentSupport](
	[ICS_ID] [int] IDENTITY(1,1) NOT NULL,
	[Info_ID] [int] NOT NULL,
	[UserInfo_ID] [int] NOT NULL,
 CONSTRAINT [PK_InfoCommentSupport] PRIMARY KEY CLUSTERED 
(
	[ICS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Order]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[UserInfo_ID] [int] NOT NULL,
	[Goods_ID] [int] NOT NULL,
	[Order_GoodsNum] [int] NOT NULL,
	[Order_Time] [datetime] NOT NULL,
	[Goods_Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserInfo_ID] [int] IDENTITY(1,1) NOT NULL,
	[UserInfo_Img] [nvarchar](200) NOT NULL,
	[UserInfo_Name] [nchar](10) NOT NULL,
	[UserInfo_Password] [char](20) NOT NULL,
	[UserInfo_Email] [nvarchar](50) NOT NULL,
	[UserInfo_Phone] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[UserInfo_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Video]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Video](
	[Video_ID] [int] IDENTITY(1,1) NOT NULL,
	[Video_Title] [nchar](100) NOT NULL,
	[Video_Url] [nvarchar](max) NOT NULL,
	[Video_Img] [nvarchar](200) NOT NULL,
	[VideoClass_ID] [int] NOT NULL,
	[Video_Time] [datetime] NOT NULL,
 CONSTRAINT [PK_Video] PRIMARY KEY CLUSTERED 
(
	[Video_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VideoClass]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoClass](
	[VideoClass_ID] [int] IDENTITY(1,1) NOT NULL,
	[Video_Class] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_VideoClass] PRIMARY KEY CLUSTERED 
(
	[VideoClass_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VideoComment]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoComment](
	[VC_ID] [int] IDENTITY(1,1) NOT NULL,
	[Video_ID] [int] NOT NULL,
	[VC_Content] [nvarchar](max) NOT NULL,
	[VC_Time] [datetime] NOT NULL,
	[UserInfo_ID] [int] NOT NULL,
 CONSTRAINT [PK_VideoComment] PRIMARY KEY CLUSTERED 
(
	[VC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VideoCommentAgainst]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoCommentAgainst](
	[VCA_ID] [int] IDENTITY(1,1) NOT NULL,
	[Video_ID] [int] NOT NULL,
	[UserInfo_ID] [int] NOT NULL,
 CONSTRAINT [PK_VideoCommentAgainst] PRIMARY KEY CLUSTERED 
(
	[VCA_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VideoCommentBack]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoCommentBack](
	[VCB_ID] [int] IDENTITY(1,1) NOT NULL,
	[VCB_Content] [nvarchar](max) NOT NULL,
	[VCB_Time] [datetime] NOT NULL,
	[UserInfo_ID] [int] NOT NULL,
	[VC_ID] [int] NOT NULL,
 CONSTRAINT [PK_VideoCommentBack] PRIMARY KEY CLUSTERED 
(
	[VCB_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VideoCommentSupport]    Script Date: 2018/6/28 星期四 0:09:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VideoCommentSupport](
	[VCS_ID] [int] IDENTITY(1,1) NOT NULL,
	[Video_ID] [int] NOT NULL,
	[UserInfo_ID] [int] NOT NULL,
 CONSTRAINT [PK_VideoCommentSupport] PRIMARY KEY CLUSTERED 
(
	[VCS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([Admin_ID], [Admin_Name], [Admin_Password]) VALUES (1, N'wa', N'123456              ')
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Border] ON 

INSERT [dbo].[Border] ([Border_ID], [Type_ID], [Border_Name]) VALUES (1, 1, N'苹果')
INSERT [dbo].[Border] ([Border_ID], [Type_ID], [Border_Name]) VALUES (2, NULL, N'联想')
INSERT [dbo].[Border] ([Border_ID], [Type_ID], [Border_Name]) VALUES (3, 3, N'苹果')
SET IDENTITY_INSERT [dbo].[Border] OFF
SET IDENTITY_INSERT [dbo].[Goods] ON 

INSERT [dbo].[Goods] ([Goods_ID], [Type_ID], [Border_ID], [Goods_Name], [Goods_Content], [Goods_Img], [Goods_Price]) VALUES (5, 1, 1, N'iPhone 7                                ', N'<p>性价比极高的苹果手机</p>', N'/UploadGoodsImg/2018/6/c5b77d37-22ef-479d-9df0-bfc43393fa92.png', CAST(4000.00 AS Decimal(18, 2)))
INSERT [dbo].[Goods] ([Goods_ID], [Type_ID], [Border_ID], [Goods_Name], [Goods_Content], [Goods_Img], [Goods_Price]) VALUES (6, 3, 3, N'时尚又有型让你不撞包                              ', N'<p>时尚又有型让你不撞包</p>', N'/UploadGoodsImg/2018/6/60051ff8-6c88-428c-9181-9482214927e6.png', CAST(200.00 AS Decimal(18, 2)))
INSERT [dbo].[Goods] ([Goods_ID], [Type_ID], [Border_ID], [Goods_Name], [Goods_Content], [Goods_Img], [Goods_Price]) VALUES (7, 2, 5, N'iPod小巧的音乐播放歌曲                           ', N'<p>iPod小巧的音乐播放歌曲</p>', N'/UploadGoodsImg/2018/6/a226b279-a135-4a43-b894-a930cd8a7acc.png', CAST(100.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Goods] OFF
SET IDENTITY_INSERT [dbo].[GoodsType] ON 

INSERT [dbo].[GoodsType] ([Type_ID], [Type_Name]) VALUES (1, N'手机')
INSERT [dbo].[GoodsType] ([Type_ID], [Type_Name]) VALUES (2, N'笔记本')
INSERT [dbo].[GoodsType] ([Type_ID], [Type_Name]) VALUES (3, N'平板')
SET IDENTITY_INSERT [dbo].[GoodsType] OFF
SET IDENTITY_INSERT [dbo].[ICC] ON 

INSERT [dbo].[ICC] ([ICC_ID], [ICC_Name], [InfoClass_ID]) VALUES (1, N'评测', 1)
INSERT [dbo].[ICC] ([ICC_ID], [ICC_Name], [InfoClass_ID]) VALUES (2, N'曝光', 1)
INSERT [dbo].[ICC] ([ICC_ID], [ICC_Name], [InfoClass_ID]) VALUES (3, N'杂谈', 1)
SET IDENTITY_INSERT [dbo].[ICC] OFF
SET IDENTITY_INSERT [dbo].[Info] ON 

INSERT [dbo].[Info] ([Info_ID], [Info_Title], [Info_Content], [Info_Img], [Info_Time], [InfoClass_ID], [ICC_ID]) VALUES (10, N'iPhone X的面部识别                                                                                       ', N'iPhone X的面部识别将成为大势所趋吗？', N'/UploadInfoImg/2018/6/e80a9681-34b3-4563-8c78-8fc01b3ad365.jpg', CAST(N'2018-06-26 17:17:04.363' AS DateTime), 1, 1)
INSERT [dbo].[Info] ([Info_ID], [Info_Title], [Info_Content], [Info_Img], [Info_Time], [InfoClass_ID], [ICC_ID]) VALUES (12, N'三星S9上手初体验                                                                                           ', N'不跟风刘海屏的设计有多惊艳', N'/Content/InfoDemo/img/Info/samsung.jpg', CAST(N'2018-05-29 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Info] ([Info_ID], [Info_Title], [Info_Content], [Info_Img], [Info_Time], [InfoClass_ID], [ICC_ID]) VALUES (13, N'小米Mix2s的相机是否有提升?                                                                                    ', N'拍照常常不给力的小米能逆袭吗?', N'/Content/InfoDemo/img/Info/xiaomi.jpg', CAST(N'2018-05-29 00:00:00.000' AS DateTime), 1, 3)
SET IDENTITY_INSERT [dbo].[Info] OFF
SET IDENTITY_INSERT [dbo].[InfoClass] ON 

INSERT [dbo].[InfoClass] ([InfoClass_ID], [Info_Class]) VALUES (1, N'手机')
INSERT [dbo].[InfoClass] ([InfoClass_ID], [Info_Class]) VALUES (2, N'平板')
INSERT [dbo].[InfoClass] ([InfoClass_ID], [Info_Class]) VALUES (3, N'笔记本')
SET IDENTITY_INSERT [dbo].[InfoClass] OFF
SET IDENTITY_INSERT [dbo].[InfoComment] ON 

INSERT [dbo].[InfoComment] ([IC_ID], [Info_ID], [IC_Content], [IC_Time], [UserInfo_ID]) VALUES (13, 10, N'很不错', CAST(N'2018-06-26 20:47:43.267' AS DateTime), 2)
INSERT [dbo].[InfoComment] ([IC_ID], [Info_ID], [IC_Content], [IC_Time], [UserInfo_ID]) VALUES (14, 14, N'惊艳化的摄像头', CAST(N'2018-06-27 10:13:56.117' AS DateTime), 4)
INSERT [dbo].[InfoComment] ([IC_ID], [Info_ID], [IC_Content], [IC_Time], [UserInfo_ID]) VALUES (15, 13, N'嗯拭目以待啊', CAST(N'2018-06-27 10:14:13.593' AS DateTime), 4)
SET IDENTITY_INSERT [dbo].[InfoComment] OFF
SET IDENTITY_INSERT [dbo].[InfoCommentAgainst] ON 

INSERT [dbo].[InfoCommentAgainst] ([ICA_ID], [Info_ID], [UserInfo_ID]) VALUES (4, 16, 2)
INSERT [dbo].[InfoCommentAgainst] ([ICA_ID], [Info_ID], [UserInfo_ID]) VALUES (5, 10, 2)
SET IDENTITY_INSERT [dbo].[InfoCommentAgainst] OFF
SET IDENTITY_INSERT [dbo].[InfoCommentBack] ON 

INSERT [dbo].[InfoCommentBack] ([ICB_ID], [ICB_Content], [ICB_Time], [UserInfo_ID], [IC_ID]) VALUES (29, N'我也这么觉得', CAST(N'2018-06-27 10:09:47.573' AS DateTime), 4, 13)
INSERT [dbo].[InfoCommentBack] ([ICB_ID], [ICB_Content], [ICB_Time], [UserInfo_ID], [IC_ID]) VALUES (30, N'akbfk ', CAST(N'2018-06-27 15:18:12.027' AS DateTime), 2, 16)
INSERT [dbo].[InfoCommentBack] ([ICB_ID], [ICB_Content], [ICB_Time], [UserInfo_ID], [IC_ID]) VALUES (31, N'akbfk ', CAST(N'2018-06-27 15:18:16.147' AS DateTime), 2, 16)
SET IDENTITY_INSERT [dbo].[InfoCommentBack] OFF
SET IDENTITY_INSERT [dbo].[InfoCommentSupport] ON 

INSERT [dbo].[InfoCommentSupport] ([ICS_ID], [Info_ID], [UserInfo_ID]) VALUES (13, 12, 3)
INSERT [dbo].[InfoCommentSupport] ([ICS_ID], [Info_ID], [UserInfo_ID]) VALUES (14, 13, 3)
INSERT [dbo].[InfoCommentSupport] ([ICS_ID], [Info_ID], [UserInfo_ID]) VALUES (15, 14, 3)
SET IDENTITY_INSERT [dbo].[InfoCommentSupport] OFF
SET IDENTITY_INSERT [dbo].[UserInfo] ON 

INSERT [dbo].[UserInfo] ([UserInfo_ID], [UserInfo_Img], [UserInfo_Name], [UserInfo_Password], [UserInfo_Email], [UserInfo_Phone]) VALUES (1, N'/FileUploadImage/2018/6/5/03c1086f-fc3f-4530-8b15-11b6399382cf.jpg', N'we        ', N'123456              ', N'dsf@qq.com', N'1651123')
INSERT [dbo].[UserInfo] ([UserInfo_ID], [UserInfo_Img], [UserInfo_Name], [UserInfo_Password], [UserInfo_Email], [UserInfo_Phone]) VALUES (2, N'/FileUploadImage/2018/6/10/a0e104e6-f03d-4295-9f47-465e344a2667.jpg', N'wa        ', N'123456              ', N'dsfas@SDF.COM', N'DSFSA')
INSERT [dbo].[UserInfo] ([UserInfo_ID], [UserInfo_Img], [UserInfo_Name], [UserInfo_Password], [UserInfo_Email], [UserInfo_Phone]) VALUES (3, N'/FileUploadImage/2018/6/10/da626469-d8e1-4594-91aa-515b959b071f.jpg', N'wer       ', N'123456              ', N'gfsdf@qq.com', N'sdfsad')
SET IDENTITY_INSERT [dbo].[UserInfo] OFF
SET IDENTITY_INSERT [dbo].[Video] ON 

INSERT [dbo].[Video] ([Video_ID], [Video_Title], [Video_Url], [Video_Img], [VideoClass_ID], [Video_Time]) VALUES (1, N'一加6漫威版 现场体验                                                                                         ', N'/UploadVideo/2018/6/4b3588ae-0109-4835-8080-6dd680bee999.mp4', N'/UploadImg/2018/6/f4a8e00a-b0ef-4dcd-9082-1257d67cafb5.png', 1, CAST(N'2018-06-26 17:44:58.830' AS DateTime))
INSERT [dbo].[Video] ([Video_ID], [Video_Title], [Video_Url], [Video_Img], [VideoClass_ID], [Video_Time]) VALUES (12, N'2000亿像素有多恐怖，望眼欲穿！太震撼了！                                                                              ', N'/UploadVideo/2018/6/8e570110-16a6-4878-bf21-36811bf9f7df.Mp4', N'/UploadImg/2018/6/f52cefce-8830-401f-947a-edf9b5605918.png', 1, CAST(N'2018-06-26 17:57:39.877' AS DateTime))
INSERT [dbo].[Video] ([Video_ID], [Video_Title], [Video_Url], [Video_Img], [VideoClass_ID], [Video_Time]) VALUES (16, N'这台手机改变了一切 Oppo Find X                                                                               ', N'/UploadVideo/2018/6/4690758b-9a56-46c5-88da-0ac277bd6fff.Mp4', N'/UploadImg/2018/6/7148e937-d628-4390-bea3-87be82cb0a94.png', 1, CAST(N'2018-06-26 18:26:38.037' AS DateTime))
SET IDENTITY_INSERT [dbo].[Video] OFF
SET IDENTITY_INSERT [dbo].[VideoClass] ON 

INSERT [dbo].[VideoClass] ([VideoClass_ID], [Video_Class]) VALUES (1, N'手机')
INSERT [dbo].[VideoClass] ([VideoClass_ID], [Video_Class]) VALUES (2, N'平板')
INSERT [dbo].[VideoClass] ([VideoClass_ID], [Video_Class]) VALUES (3, N'笔记本')
SET IDENTITY_INSERT [dbo].[VideoClass] OFF
SET IDENTITY_INSERT [dbo].[VideoComment] ON 

INSERT [dbo].[VideoComment] ([VC_ID], [Video_ID], [VC_Content], [VC_Time], [UserInfo_ID]) VALUES (3, 1, N'风过有痕', CAST(N'2018-06-26 20:09:41.497' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[VideoComment] OFF
SET IDENTITY_INSERT [dbo].[VideoCommentSupport] ON 

INSERT [dbo].[VideoCommentSupport] ([VCS_ID], [Video_ID], [UserInfo_ID]) VALUES (3, 1, 2)
INSERT [dbo].[VideoCommentSupport] ([VCS_ID], [Video_ID], [UserInfo_ID]) VALUES (4, 12, 2)
SET IDENTITY_INSERT [dbo].[VideoCommentSupport] OFF
ALTER TABLE [dbo].[Border]  WITH CHECK ADD  CONSTRAINT [FK_Border_GoodsType] FOREIGN KEY([Type_ID])
REFERENCES [dbo].[GoodsType] ([Type_ID])
GO
ALTER TABLE [dbo].[Border] CHECK CONSTRAINT [FK_Border_GoodsType]
GO
ALTER TABLE [dbo].[Collection]  WITH CHECK ADD  CONSTRAINT [FK_Collection_Goods] FOREIGN KEY([Goods_ID])
REFERENCES [dbo].[Goods] ([Goods_ID])
GO
ALTER TABLE [dbo].[Collection] CHECK CONSTRAINT [FK_Collection_Goods]
GO
ALTER TABLE [dbo].[Collection]  WITH CHECK ADD  CONSTRAINT [FK_Collection_UserInfo] FOREIGN KEY([UserInfo_ID])
REFERENCES [dbo].[UserInfo] ([UserInfo_ID])
GO
ALTER TABLE [dbo].[Collection] CHECK CONSTRAINT [FK_Collection_UserInfo]
GO
ALTER TABLE [dbo].[GetGoods]  WITH CHECK ADD  CONSTRAINT [FK_GetGoods_UserInfo] FOREIGN KEY([UserInfo_ID])
REFERENCES [dbo].[UserInfo] ([UserInfo_ID])
GO
ALTER TABLE [dbo].[GetGoods] CHECK CONSTRAINT [FK_GetGoods_UserInfo]
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD  CONSTRAINT [FK_Goods_Border] FOREIGN KEY([Border_ID])
REFERENCES [dbo].[Border] ([Border_ID])
GO
ALTER TABLE [dbo].[Goods] CHECK CONSTRAINT [FK_Goods_Border]
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD  CONSTRAINT [FK_Goods_GoodsType] FOREIGN KEY([Type_ID])
REFERENCES [dbo].[GoodsType] ([Type_ID])
GO
ALTER TABLE [dbo].[Goods] CHECK CONSTRAINT [FK_Goods_GoodsType]
GO
ALTER TABLE [dbo].[GoodsComment]  WITH CHECK ADD  CONSTRAINT [FK_GoodsComment_GoodsComment] FOREIGN KEY([Goods_ID])
REFERENCES [dbo].[Goods] ([Goods_ID])
GO
ALTER TABLE [dbo].[GoodsComment] CHECK CONSTRAINT [FK_GoodsComment_GoodsComment]
GO
ALTER TABLE [dbo].[GoodsComment]  WITH CHECK ADD  CONSTRAINT [FK_GoodsComment_UserInfo] FOREIGN KEY([UserInfo_ID])
REFERENCES [dbo].[UserInfo] ([UserInfo_ID])
GO
ALTER TABLE [dbo].[GoodsComment] CHECK CONSTRAINT [FK_GoodsComment_UserInfo]
GO
ALTER TABLE [dbo].[GoodsSave]  WITH CHECK ADD  CONSTRAINT [FK_GoodsSave_Goods] FOREIGN KEY([Goods_ID])
REFERENCES [dbo].[Goods] ([Goods_ID])
GO
ALTER TABLE [dbo].[GoodsSave] CHECK CONSTRAINT [FK_GoodsSave_Goods]
GO
ALTER TABLE [dbo].[ICC]  WITH CHECK ADD  CONSTRAINT [FK_ICC_InfoClass] FOREIGN KEY([InfoClass_ID])
REFERENCES [dbo].[InfoClass] ([InfoClass_ID])
GO
ALTER TABLE [dbo].[ICC] CHECK CONSTRAINT [FK_ICC_InfoClass]
GO
ALTER TABLE [dbo].[Info]  WITH CHECK ADD  CONSTRAINT [FK_Info_ICC] FOREIGN KEY([ICC_ID])
REFERENCES [dbo].[ICC] ([ICC_ID])
GO
ALTER TABLE [dbo].[Info] CHECK CONSTRAINT [FK_Info_ICC]
GO
ALTER TABLE [dbo].[Info]  WITH CHECK ADD  CONSTRAINT [FK_Info_InfoClass] FOREIGN KEY([InfoClass_ID])
REFERENCES [dbo].[InfoClass] ([InfoClass_ID])
GO
ALTER TABLE [dbo].[Info] CHECK CONSTRAINT [FK_Info_InfoClass]
GO
ALTER TABLE [dbo].[InfoComment]  WITH CHECK ADD  CONSTRAINT [FK_InfoComment_Info] FOREIGN KEY([Info_ID])
REFERENCES [dbo].[Info] ([Info_ID])
GO
ALTER TABLE [dbo].[InfoComment] CHECK CONSTRAINT [FK_InfoComment_Info]
GO
ALTER TABLE [dbo].[InfoComment]  WITH CHECK ADD  CONSTRAINT [FK_InfoComment_InfoComment] FOREIGN KEY([IC_ID])
REFERENCES [dbo].[InfoComment] ([IC_ID])
GO
ALTER TABLE [dbo].[InfoComment] CHECK CONSTRAINT [FK_InfoComment_InfoComment]
GO
ALTER TABLE [dbo].[InfoComment]  WITH CHECK ADD  CONSTRAINT [FK_InfoComment_UserInfo] FOREIGN KEY([UserInfo_ID])
REFERENCES [dbo].[UserInfo] ([UserInfo_ID])
GO
ALTER TABLE [dbo].[InfoComment] CHECK CONSTRAINT [FK_InfoComment_UserInfo]
GO
ALTER TABLE [dbo].[InfoCommentAgainst]  WITH CHECK ADD  CONSTRAINT [FK_InfoCommentAgainst_Info] FOREIGN KEY([Info_ID])
REFERENCES [dbo].[Info] ([Info_ID])
GO
ALTER TABLE [dbo].[InfoCommentAgainst] CHECK CONSTRAINT [FK_InfoCommentAgainst_Info]
GO
ALTER TABLE [dbo].[InfoCommentAgainst]  WITH CHECK ADD  CONSTRAINT [FK_InfoCommentAgainst_UserInfo] FOREIGN KEY([UserInfo_ID])
REFERENCES [dbo].[UserInfo] ([UserInfo_ID])
GO
ALTER TABLE [dbo].[InfoCommentAgainst] CHECK CONSTRAINT [FK_InfoCommentAgainst_UserInfo]
GO
ALTER TABLE [dbo].[InfoCommentBack]  WITH CHECK ADD  CONSTRAINT [FK_InfoCommentBack_InfoComment] FOREIGN KEY([IC_ID])
REFERENCES [dbo].[InfoComment] ([IC_ID])
GO
ALTER TABLE [dbo].[InfoCommentBack] CHECK CONSTRAINT [FK_InfoCommentBack_InfoComment]
GO
ALTER TABLE [dbo].[InfoCommentBack]  WITH CHECK ADD  CONSTRAINT [FK_InfoCommentBack_UserInfo] FOREIGN KEY([UserInfo_ID])
REFERENCES [dbo].[UserInfo] ([UserInfo_ID])
GO
ALTER TABLE [dbo].[InfoCommentBack] CHECK CONSTRAINT [FK_InfoCommentBack_UserInfo]
GO
ALTER TABLE [dbo].[InfoCommentSupport]  WITH CHECK ADD  CONSTRAINT [FK_InfoCommentSupport_Info1] FOREIGN KEY([Info_ID])
REFERENCES [dbo].[Info] ([Info_ID])
GO
ALTER TABLE [dbo].[InfoCommentSupport] CHECK CONSTRAINT [FK_InfoCommentSupport_Info1]
GO
ALTER TABLE [dbo].[InfoCommentSupport]  WITH CHECK ADD  CONSTRAINT [FK_InfoCommentSupport_UserInfo] FOREIGN KEY([UserInfo_ID])
REFERENCES [dbo].[UserInfo] ([UserInfo_ID])
GO
ALTER TABLE [dbo].[InfoCommentSupport] CHECK CONSTRAINT [FK_InfoCommentSupport_UserInfo]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Goods] FOREIGN KEY([Goods_ID])
REFERENCES [dbo].[Goods] ([Goods_ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Goods]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_UserInfo] FOREIGN KEY([UserInfo_ID])
REFERENCES [dbo].[UserInfo] ([UserInfo_ID])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_UserInfo]
GO
ALTER TABLE [dbo].[Video]  WITH CHECK ADD  CONSTRAINT [FK_Video_Video] FOREIGN KEY([VideoClass_ID])
REFERENCES [dbo].[VideoClass] ([VideoClass_ID])
GO
ALTER TABLE [dbo].[Video] CHECK CONSTRAINT [FK_Video_Video]
GO
ALTER TABLE [dbo].[VideoComment]  WITH CHECK ADD  CONSTRAINT [FK_VideoComment_UserInfo] FOREIGN KEY([UserInfo_ID])
REFERENCES [dbo].[UserInfo] ([UserInfo_ID])
GO
ALTER TABLE [dbo].[VideoComment] CHECK CONSTRAINT [FK_VideoComment_UserInfo]
GO
ALTER TABLE [dbo].[VideoComment]  WITH CHECK ADD  CONSTRAINT [FK_VideoComment_Video] FOREIGN KEY([Video_ID])
REFERENCES [dbo].[Video] ([Video_ID])
GO
ALTER TABLE [dbo].[VideoComment] CHECK CONSTRAINT [FK_VideoComment_Video]
GO
ALTER TABLE [dbo].[VideoCommentAgainst]  WITH CHECK ADD  CONSTRAINT [FK_VideoCommentAgainst_UserInfo] FOREIGN KEY([UserInfo_ID])
REFERENCES [dbo].[UserInfo] ([UserInfo_ID])
GO
ALTER TABLE [dbo].[VideoCommentAgainst] CHECK CONSTRAINT [FK_VideoCommentAgainst_UserInfo]
GO
ALTER TABLE [dbo].[VideoCommentAgainst]  WITH CHECK ADD  CONSTRAINT [FK_VideoCommentAgainst_Video] FOREIGN KEY([Video_ID])
REFERENCES [dbo].[Video] ([Video_ID])
GO
ALTER TABLE [dbo].[VideoCommentAgainst] CHECK CONSTRAINT [FK_VideoCommentAgainst_Video]
GO
ALTER TABLE [dbo].[VideoCommentBack]  WITH CHECK ADD  CONSTRAINT [FK_VideoCommentBack_UserInfo] FOREIGN KEY([UserInfo_ID])
REFERENCES [dbo].[UserInfo] ([UserInfo_ID])
GO
ALTER TABLE [dbo].[VideoCommentBack] CHECK CONSTRAINT [FK_VideoCommentBack_UserInfo]
GO
ALTER TABLE [dbo].[VideoCommentBack]  WITH CHECK ADD  CONSTRAINT [FK_VideoCommentBack_VideoComment] FOREIGN KEY([VC_ID])
REFERENCES [dbo].[VideoComment] ([VC_ID])
GO
ALTER TABLE [dbo].[VideoCommentBack] CHECK CONSTRAINT [FK_VideoCommentBack_VideoComment]
GO
ALTER TABLE [dbo].[VideoCommentSupport]  WITH CHECK ADD  CONSTRAINT [FK_VideoCommentSupport_UserInfo] FOREIGN KEY([UserInfo_ID])
REFERENCES [dbo].[UserInfo] ([UserInfo_ID])
GO
ALTER TABLE [dbo].[VideoCommentSupport] CHECK CONSTRAINT [FK_VideoCommentSupport_UserInfo]
GO
ALTER TABLE [dbo].[VideoCommentSupport]  WITH CHECK ADD  CONSTRAINT [FK_VideoCommentSupport_Video] FOREIGN KEY([Video_ID])
REFERENCES [dbo].[Video] ([Video_ID])
GO
ALTER TABLE [dbo].[VideoCommentSupport] CHECK CONSTRAINT [FK_VideoCommentSupport_Video]
GO
