
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <li>
            <img src="@Session["user_Img"]" width="10" height="10" />
        </li>
        <li>
            @Session["user_Name"]
        </li>
    </div>
</body>
</html>
